@charset "UTF-8";
/*************************************************************************
	Theme: 							Biblioteca Engimas
	Theme URI: 					http://themes.tielabs.com/sahifa/
	Description Theme:	Personalized theme for bibliotecaenigmas.com website!
	Author: 						Guillermo Camarena
	Author URI: 				http://gcamarenaprog.com
	Path: 						  /library/css/
	File Name: 					template-be.css
	Description: 	      General style file the Biblioteca Enigmas Theme.
	Date:               03-02-2026
**************************************************************************/

/*************************************************************************
  # General styles
    ## Head
    ## Main box
    ## Meta box
    ## Advice
    ## Buttons

  # Single book styles
    ## Data (Single book)
    ## Thumbnail (Single book)
    ## Related (Single book)
    ## Check also (Single book)

  # Single blog styles
    ## Related (Single blog)
    ## Check also (Single blog)

  # Home page styles
    ## Card blog
    ## Card book
    ## Digital services

  # Taxonomies

  # Responsive
    ## 1200px Monitors, Desktops
    ## 992px Laptops and Desktops
    ## 768px Tablets
    ## 576px Phones
    ## 420px Smaller devices
    ## 320px Smartwatches
**************************************************************************/

@import url('bootstrap-grid.min.css');

/**
 * *****************************************************************************
 * General styles
 * *****************************************************************************
 */

/**
  * Head
  * -----------------------------------------------------------------------------
  */
.tb-head {
  text-align: center;
  overflow: hidden;
  float: left;
  width: 100%;
  background: #2d2d2d;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
}

.tb-head h1 {
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
  text-transform: uppercase;
  font-weight: normal;
}

.tb-head h2 {
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
  text-transform: uppercase;
  font-weight: normal;
}

.tb-head h3 {
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
  text-transform: uppercase;
  font-weight: normal;
}

.tb-head h4 {
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
  text-transform: uppercase;
  font-weight: normal;
}

/**
  * Main box
  * -----------------------------------------------------------------------------
  */
.tb-box {
  clear: both;
  padding: 10px 10px;
  background: #fdfdfc;
  border-bottom: 4px solid #67523d;
  -moz-box-shadow: 0 0 3px #cacaca;
  margin-bottom: 11px;
  font-weight: normal;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/**
  * Meta box
  * -----------------------------------------------------------------------------
  */
.tb-meta-box {
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  float: left;
  width: 100%;
  background: #2d2d2d;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
}

.tb-meta-box h1 {
  font-family: 'Lekton', serif;
  font-weight: normal;
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
}

.tb-meta-box h2 {
  font-family: 'Lekton', serif;
  font-weight: normal;
  text-align: center;
  color: #dddddd;
  text-shadow: 0 0 0 #dddddd;
}

hr.tb-meta {
  border-bottom: 1px dotted #dddddd !important;
  overflow: hidden !important;
  clear: both !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/**
  * Advice
  * -----------------------------------------------------------------------------
  */
.tb-advice {
  text-align: center;
  text-shadow: 0 0 0 #000;
  overflow: hidden;
  padding: 5px 5px;
  background: #f7f7f7;
  margin: 0 -9px -9px;
  box-shadow: 0 0 0 1px #e7e7e7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tb-advice p {
  text-align: center;
  font-size: 1.15em;
  font-style: italic;
}

/**
* Buttons
* -----------------------------------------------------------------------------
*/
.tb-button {
  text-align: center;
}

a.tb-button {
  font-weight: 300;
  background: #67523e !important;
  width: 15%;
  text-align: center;
  color: #fbfbfb !important;
  font-size: 1.2em !important;
  text-shadow: 0 0 0 #dddddd !important;
  border-radius: 12px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  height: 26px;
  opacity: .9;
  overflow: hidden;
  line-height: 1.9em;
}

a.tb-button:hover {
  opacity: 1;
  color: #FFFFFF !important;
}


/**
 * *****************************************************************************
 * Single book styles
 * *****************************************************************************
 */

/**
 * Data (Single book)
 * -----------------------------------------------------------------------------
 */
.tb-book-data {
  text-align: left;
  font-size: 1.20em;
  text-shadow: 0 0 0 #000000;
  padding: 0 0 0 11px;
  border-left: 3px solid #333333;
  line-height: 1.3em;
  background: #fdfdfc;
}

hr.tb-book-data {
  border-bottom: 2px dotted #323232 !important;
  overflow: hidden !important;
  clear: both !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/**
 * Thumbnail (Single book)
 * -----------------------------------------------------------------------------
 */
.tb-book-thumbnail {
  width: 100%;
  display: inline-block;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin-left: 5px;
}

/**
* Related (Single book)
* -----------------------------------------------------------------------------
*/
.tb-book-related-cover {
  position: relative;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.tb-book-related-title {
  position: relative;
  white-space: nowrap;
  margin-top: 20px;
}

.tb-book-related-title-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.20em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-related-subtitle {
  position: relative;
  white-space: nowrap;
}

.tb-book-related-subtitle-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.10em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-related-writer {
  position: relative;
  white-space: nowrap;
}

.tb-book-related-writer-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-related-paragraph-end {
  height: 20px;
  width: 45px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(251 251 251)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}

/**
 * Check also (Single book)
 * -----------------------------------------------------------------------------
 */
.tb-book-check-also {
  clear: both;
  padding: 10px 10px;
  background: #fdfdfc;
  -moz-box-shadow: 0 0 3px #cacaca;
  font-weight: normal;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tb-book-check-also-width {
  width: 220px !important;
}

.tb-book-check-also-thumbnail {
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.tb-book-check-also-title-book {
  position: relative;
  white-space: nowrap;
  margin-top: 20px;
}

.tb-book-check-also-title-book-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.20em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-check-also-subtitle-book {
  position: relative;
  white-space: nowrap;
}

.tb-book-check-also-subtitle-book-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.10em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-check-also-writer {
  position: relative;
  white-space: nowrap;
}

.tb-book-check-also-writer-text {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-book-check-also-paragraph-end {
  height: 20px;
  width: 45px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(251 251 251)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}


/**
 * *****************************************************************************
 * Single blog styles
 * *****************************************************************************
 */

/**
 * Related (Single blog)
 * -----------------------------------------------------------------------------
 */
.tb-blog-related-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-blog-related-item {
  line-height: 18px;
  position: relative;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
  margin-bottom: 5px;
}

.tb-blog-related-item-thumbnail {
  width: 100%;
}

.tb-blog-related-item-title {
  position: relative;
  color: #000000;
  text-shadow: 0 0 0 #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 20px;
  font-size: 1.2em;
}

.tb-blog-related-paragraph-end {
  height: 48px;
  width: 120px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(251 251 251)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}

/**
 * Check also (Single blog)
 * -----------------------------------------------------------------------------
 */
.tb-blog-check-also {
  position: relative;
  line-height: 18px;
  padding: 10px;
  max-height: 230px;
  height: 100%;
}

.tb-blog-check-also-thumbnail {
  width: 100%;
  margin: 0 auto;
  position: relative;
  line-height: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
}

.tb-blog-check-also-title {
  color: #000000;
  text-shadow: 0 0 0 #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 1.20em;
  text-align: center;
  margin: 10px;
  font-weight: normal;
}

.tb-blog-check-also-paragraph-end {
  height: 48px;
  width: 120px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(251 251 251)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}


/**
 * *****************************************************************************
 * Home page styles
 * *****************************************************************************
 */

/**
 * Card blog
 * -----------------------------------------------------------------------------
 */
.tb-card-blog {
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
  line-height: 18px;
  padding: 10px;
  max-height: 380px;
  height: 100%;
  max-width: 350px;
  width: 100%;
  border-radius: 6px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.tb-card-blog-thumbnail {
  width: 100%;
  margin: 0 auto;
  position: relative;
  line-height: 0;
}

.tb-card-blog-text {
  color: #000000;
  text-shadow: 0 0 0 #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 1.20em;
  text-align: center;
  margin: 10px;
  font-weight: normal;
}

.tb-card-blog-text-paragraph-end {
  height: 18px;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(253 253 252)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 31px;
  max-height: 100%;
  position: absolute;
  right: 10px;
}

.tb-card-blog-overlay-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * Card book
 * -----------------------------------------------------------------------------
 */
.tb-card-book {
  padding: 0;
  height: 175px;
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
  border-radius: 6px;
  margin-bottom: 10px;
}

.tb-card-book-data {
  margin-left: 112px;
  height: 175px;
  display: block;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.tb-card-book-thumbnail {
  width: 112px;
  position: absolute;
}

.tb-card-book-overlay-icon {
  width: 112px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
}

.tb-card-book-title a {
  color: #67523d;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.20em;
  max-height: 20px;
  min-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tb-card-book-title-paragraph-end {
  height: 15px;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255 255 255)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 144px;
  max-height: 100%;
  position: absolute;
  right: 10px;
}

.tb-card-book-writer {
  color: #000000;
  text-shadow: 0 0 0 #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  font-weight: normal;
  line-height: 1.1em;
  margin-top: 5px;
}

.tb-card-book-writer-paragraph-end {
  height: 15px;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255 255 255)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 121px;
  max-height: 100%;
  position: absolute;
  right: 10px;
}

.tb-card-book-excerpt {
  margin: 0;
  padding-top: 10px;
}

.tb-card-book-excerpt p {
  font-style: normal;
  line-height: 1em;
  color: #000000;
  text-shadow: 0 0 0 #000000;
  font-size: 1.10em;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 7;
  text-align: justify;
}

.tb-card-book-excerpt-paragraph-end {
  height: 15px;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255 255 255)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 17px;
  max-height: 100%;
  position: absolute;
  right: 10px;
}

/**
 * Digital services
 * -----------------------------------------------------------------------------
 */
ul.ds {
  color: #000000;
  text-shadow: 0 0 0 #000000;
}


/**
 * *****************************************************************************
 * Taxonomies
 * *****************************************************************************
 */

p.tb-tax-description {
  word-wrap: break-word;
  line-height: 22px;
  font-size: 1.20rem;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0 0 #000000;
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tb-tax-image {
  text-align: center;
}

.tb-tax-image img {
  border-radius: 12px;
}

.tb-taxonomy-writer-img {
  text-align: center;
  padding-top: 20px;
}

.tb-taxonomy-writer-img img {
  box-shadow: 0 0 10px #afafaf;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

/**
 * *****************************************************************************
 * Responsive
 * *****************************************************************************
 */

/**
 * 1200px Monitors, Desktops
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 1200px) {
}

/**
 * 992px Laptops and Desktops
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 992px) {

  a.tb-button {
    width: 25% !important;
  }

}

/**
 * 768px Tablets
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {
  a.tb-button {
    width: 40% !important;
  }
}

/**
 * 576px Phones
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 576px) {

  .tb-card-blog {
    max-height: 380px;
    height: 100%;
    max-width: 660px;
    width: 100%;
  }

  a.tb-button {
    width: 50% !important;
  }

  .tb-taxonomy-writer-img img {
    box-shadow: 0 0 10px #afafaf;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .tb-book-thumbnail {
    margin-left: 0px;
  }

}

/**
 * 420px Smaller devices
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 420px) {

  a.tb-button {
    width: 100% !important;
  }

  .tb-taxonomy-writer-img img {
    box-shadow: 0 0 10px #afafaf;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
  }

  .tb-blog-related-item-title {
    -webkit-line-clamp: 2;
    font-size: 1em;
    line-height: 15px;
  }

}

/**
 * 320px Smartwatches
 * -----------------------------------------------------------------------------
 */
@media only screen and (max-width: 320px) {
}