@charset "UTF-8";
/*************************************************************************
	Theme: 							Biblioteca Engimas
	Theme URI: 					http://themes.tielabs.com/sahifa/
	Description Theme:	Personalized theme for bibliotecaenigmas.com website!
	Author: 						Guillermo Camarena
	Author URI: 				http://gcamarenaprog.com
	Section: 						Library / CSS
	File Name: 					template-be-home.css
	Version:						19-02-2025
	Description File: 	This is the style file for the home template.
**************************************************************************/

@import url('template-be.css');
@import url('bootstrap-grid.min.css');

/* Main menu for home page */
#main-nav .main-menu {
  display: flex;
  justify-content: center;
}

/* Article card book */
article.card {
  padding: 0;
  height: 175px;
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background: none repeat scroll 0 0 #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  text-decoration: none;
}

article.card .card-click-target {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

article.card img.cover {
  width: 112px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
}

article.card .book {
  margin-left: 112px;
  height: 155px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 7px 10px 0;
  position: relative;
}

article.card .book h2 {
  padding: 0;
}

article.card .book .writer,
article.card .book .writer a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 0 0 0 #67523d !important;
}

article.card .book .writer:hover {
  text-decoration: underline;
}

article.card .book .title {
  color: #67523d;
  font-weight: 300;
  text-shadow: 0 0 0 #67523d !important;
  font-size: 1.10em;
  font-family: Lekton, serif;
  line-height: 24px;
  max-height: 48px;
  min-height: 18px;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

article.card .book .title:hover {
  text-decoration: underline;
}

article.card .book .excerpt {
  display: block;
  max-height: 106px;
  min-height: 50px;
  color: #8d8d8d;
  margin-top: -5px;
  position: relative;
  text-align: left;
  white-space: normal;
  line-height: 18px;
  overflow: hidden;
}

article.card .book .excerpt p {
  font-size: 1.10em;
  color: #000000;
  text-shadow: 0px 0px 0px #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Lekton, serif;
  text-align: left;
}

article.card .book .excerpt .paragraph-end paragraph-end-writer {
  height: 30px;
  width: 90px;
}

article.card .book .paragraph-end {
  height: 20px;
  width: 45px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}

article.card .book .paragraph-end-writer {
  height: 24px;
  width: 45px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  max-height: 100%;
  position: absolute;
  right: 0;
}

/* Article card blog */
article.card-blog {
  padding: 0;
  height: 175px;
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background: none repeat scroll 0 0 #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  text-decoration: none;
  background: #000000;
}

article.card-blog .card-click-target {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

article.card-blog img.cover {
  width: 112px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
}

article.card-blog .book {
  margin-left: 112px;
  height: 155px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 7px 10px 0;
  position: relative;
}

article.card-blog .book h2 {
  padding: 0;
}

article.card-blog .blog {
  margin: 0px;
  margin-top: 147px;
  width: 100%;
}

article.card-blog .blog h2 {
  margin: 0 10px;
}

article.card-blog .blog .title {
  color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: clip;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  text-shadow: 0 0 0 #000000 !important;
}

/* Thumbnail book */
.tbh-thumbnail-b {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}

.tbh-post-thumbnail-b {
  width: 112px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
}

.tbh-overlay-icon-b {
  width: 112px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Thumbnail post */
.tbh-thumbnail {
  max-width: 310px;
  width: 100%;
}

.tbh-post-thumbnail {
  width: 310px;
  height: 175px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tbh-post-thumbnail img {
  box-shadow: 0 0 200px #ffffff !important;
}

.tbh-overlay-icon {
  width: 305px;
  height: 173px;
  position: absolute;
  top: 0;
  left: 0;
}

.tbh-thumbnail-title {
  display: block;
  background: #000000ad;
  position: relative;
}


/* Blockquote */
blockquote p {
  margin: 0px 10px;
  border-left-width: 0 !important;
  font-size: 1.15em !important;
  text-align: center;
}

blockquote b {
  margin: 0px 10px;
  border-left-width: 0 !important;
  text-align: center;
}

/* Digital services */
ul.ds {
  font-size: 1.10em;
  color: #000000;
  text-shadow: 0 0 0 #000000;
}

/* Advice */
.tbh-advice {
  padding: 5px 20px;
  background: #f7f7f7;
  box-shadow: 0 0 0 1px #e7e7e7;
}

.tbh-advice p {
  text-align: center;
  margin: 0;
}

/* Buttons */
.tbh-button {
  text-align: center;
}

a.shortc-button.tbh {
  font-weight: 300;
  cursor: pointer;
  border-radius: 0;
  background: #67523e;
  width: 20%;
  text-align: center;
  color: #dddddd !important;
  font-size: 1.10em !important;
  text-shadow: 0 0 0 #dddddd !important;
}

/* Footer for home */
#theme-footer {
  margin-top: 0 !important;
}

/* Others */
.black {
  background: #2d2d2d !important;
}

img {
  height: auto;
  max-width: 100%;
}

/* 1200px Monitors, Desktops */
@media only screen and (max-width: 1200px) {}

/* 992px Laptops and Desktops */
@media only screen and (max-width: 992px) {
  a.shortc-button.tbh {
    width: 25% !important;
  }

  .tbh-advice {
    padding: 5px 10px !important;
  }

  article.card {
    max-width: max-content;
    padding: 0;
    height: 175px;
    width: 96%;
    display: inline-block;
    margin: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    text-decoration: none;
  }
}

/* 768px Tablets */
@media only screen and (max-width: 768px) {
  .tbh-thumbnail {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
  }

  a.shortc-button.tbh {
    width: 40% !important;
  }
}

/* 576px Phones */
@media only screen and (max-width: 576px) {
  a.shortc-button.tbh {
    width: 60% !important;
  }

  article.card {
    max-width: max-content;
    padding: 0;
    height: 175px;
    width: 97%;
    display: inline-block;
    margin: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    text-decoration: none;
  }
}

/* 420px Smaller devices */
@media only screen and (max-width: 420px) {
  a.shortc-button.tbh {
    width: 100% !important;
  }
}

/* 320px Smartwatches */
@media only screen and (max-width: 320px) {
  a.shortc-button.tbh {
    width: 100% !important;
  }
}