i.be-icon {
  background-image: url('ico_be.svg');
}

i.be-ico_imgs {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_imgs.svg');
}

i.be-ico_img_right {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_img_right.svg');
}

i.be-ico_img_left {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_img_left.svg');
}

i.be-ico_2_img {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_2_img.svg');
}

i.be-ico_3_img {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_3_img.svg');
}

i.be-ico_4_img {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_4_img.svg');
}

i.be-ico_cols {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_cols.svg');
}

i.be-ico_1_col {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_1_col.svg');
}

i.be-ico_2_col {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_2_col.svg');
}

i.be-ico_3_col {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_3_col.svg');
}


i.be-ico_4_col {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_4_col.svg');
}

i.be-ico_line {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_line.svg');
}

i.be-elements {
  line-height: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  text-shadow: none;
  margin: 0;
  padding: 0;
  background-image: url('ico_elements.svg');
}

i.be-heading {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_heading.svg');
}

i.be-ico_summary {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_summary.svg');
}

i.be-ico_youtube {
  width: 13px;
  height: 21px;
  text-align: center;
  text-shadow: none;
  background-image: url('ico_youtube.svg');
}